<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 앱이 특정 하드웨어 기능을 사용 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- 앱이 요청할 권한 선언 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 전화 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 문자 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 영상 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 정확한 위치 정보 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SosIsRunning"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU2_DSJouju_App"
        tools:targetApi="34">
        <activity
            android:name=".Tutorial"
            android:exported="false" />
        <activity
            android:name=".Siren_running"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />

        <activity android:name=".Call_activity" />

        <activity android:name=".ReceiveCall" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".Login"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Google Maps API 키 설정 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClTMRwElDZEoK3WHXoy-8h-MRs78xUb8E" />
    </application>
</manifest>